
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fbb5de;
    padding: 9px;
  }
  .nav input{
    width: 250px;
    text-decoration: none;
    padding: 9px;
    font-size: 18px;
    border: none;
  }
  .searchBar{
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .nav button{
    width: 70px;
    height: 38px;
    background-color: #f65b5b;
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .nav ul{
    display: flex;
    gap: 11px;
  
  }
  .cardContainer{
    display: flex;
    justify-content: center;
    gap:41px;
    flex-wrap: wrap;
  
  }
  
  .card{
    width: 320px;
    box-shadow: 0px 4px 4px 4px rgb(255, 255, 255);
    background-color: white;
    border-radius: 7px;
    margin-top: 21px;
    margin-bottom: 30px;
    border: 1px solid black;
  }
  .card img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  
  }
  .card .title{
    font-weight: 600;
    font-size: 18px;
    margin-top: -7px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
  }
  .card .title:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  .card .content{
    padding: 9px;
  }
  .card button{
    background-color: #f65b5b;
    border: 1px solid black;
    cursor: pointer;
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 7px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
  }
  .categoryBtn{
    display: flex;
    justify-content: center;
    gap: 11px;
  }
  .categoryBtn button{
    gap: 11px;
    width: 130px;
    height: 33px;
    background-color: rgb(255, 108, 108);
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    padding: 2px;
  }
  
  
  .head{
    text-align: center;
    font-weight: 600;
    font-size: 26px;
  }

  .nav a{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }



.categoryDropdown {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.categoryDropdown select {
    padding: 10px;
    
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fbb5de;
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}





.historialButton {
  margin-left: 100px;
  padding: 18px 25px;
  font-size: 14px;
  background-color: #f63ca9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: flex;
    justify-content: center;
    margin: 20px 0;
}

.historialButton:hover {
  background-color: #fc0093;
}

.historial{
  margin-top: 5%;
}



/* Estilo para el botón de regresar al inicio */
.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #f63ca9;
  color: white;
  font-size: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

/* Efecto hover */
.scroll-to-top:hover {
  background-color: #fc0093;
}

/* Animación de aparición/desaparición */
.scroll-to-top.hidden {
  opacity: 0;
  pointer-events: none;
}

.scroll-to-top.visible {
  opacity: 1;
  pointer-events: all;
}
